.imgCodingClub {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  object-fit: cover;
}

html {
  background: url(https://images.pexels.com/photos/330771/pexels-photo-330771.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
    no-repeat center fixed;
  background-size: cover;
}

h1 {
  text-align: center;
}

h1 span {
  background-color: white;
}

ol {
  text-align: center;
}

li span {
  background-color: white;
}
